$site_bg: #edeef0;

$forms_bg: #fff;

$popUp_bg: #f7f7f7;
$popUp_controls_bg: #fff;
$popUp_light_color: #b2b4b6;

$main_controls_bg: #e5ebf1;
$second_controls_bg: #335e8f;

$controls_hover_bg: #e4eaf0;
$controls_hover_bg_2: #e1e5eb;

$main_content_color: #4a76a8;
$second_content_color: #b8b8b8;
$third_content_color: #818d99;

$border-color: #e5ebf1;

$title_color: #fff;
$title_color_2: #000;

$header_height: 50px;

$side_nav_icons_color: #7d9cb8;

$error_color: #FF4F29;

$radius: 3px;
$shadow: 0px 1px 2px $second_content_color;