@import "../../../assets/scss/variables.module";
@import "../../../assets/scss/variables.module";
@import "../../../assets/scss/responsive.module";

.preloader {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
}